* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
}

.app-header {
  position: fixed;
  color: rgb(215, 15, 100);
  font-weight: 700;
  font-size: 1.5em;
  font-family: "MuseoSans", Arial, sans-serif;
  width: 100%;
  border-bottom: 1px rgb(215, 15, 100) solid;
}
